.newsCard {
  height: 308px;
  width: 100%;
  position: relative;
  border-radius: 16px;
  background-color: #1f201d;
  border: 1px solid #1f201d;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 14px;
  color: #9b9d95;
  font-family: var(--font-geist), Geist, sans-serif;
}
.datePublishedHeadline {
  position: absolute;
  top: 196px;
  left: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.feb82025 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 140%;
}
.spotBitcoinEtfs {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  color: #fff;
}
.illustration {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #090a05;
  width: 100%;
  height: 172px;
  overflow: hidden;
  text-align: right;
  font-size: 20px;
}
.illustrationChild {
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(96.03deg, rgba(32, 32, 29, 0.5), rgba(32, 32, 29, 0.5) 82.38%, rgba(32, 32, 29, 0.5));
  width: 100%;
  height: 172px;
}
.m {
  position: absolute;
  top: 16px;
  right: 16px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  background: linear-gradient(225.34deg, #d6d61f 30%, #3be33b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.valueText {
  position: absolute;
  top: 50px;
  left: 16px;
  right: 16px;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  background: linear-gradient(225.34deg, #d6d61f 30%, #3be33b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.illustrationItem {
  position: absolute;
  top: -0.5px;
  left: 31.5px;
  border-right: 1px solid #1f201d;
  box-sizing: border-box;
  width: 1px;
  height: 173px;
}
.illustrationInner {
  position: absolute;
  top: -0.5px;
  left: 63.5px;
  border-right: 1px solid #1f201d;
  box-sizing: border-box;
  width: 1px;
  height: 173px;
}
.groupParent {
  position: absolute;
  top: 25px;
  left: 60.5px;
  width: 288.5px;
  height: 122px;
}
.rectangleParent {
  position: absolute;
  top: 52px;
  left: 40.5px;
  width: 8px;
  height: 46px;
}
.groupChild {
  position: absolute;
  top: 7px;
  left: 0px;
  border-radius: 4px;
  background-color: #1f201d;
  width: 8px;
  height: 20px;
}
.groupItem {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #1f201d;
  width: 2px;
  height: 46px;
}
.rectangleGroup {
  position: absolute;
  top: 8px;
  left: 160.5px;
  width: 8px;
  height: 38px;
}
.groupInner {
  position: absolute;
  top: 7px;
  left: 0px;
  border-radius: 4px;
  background-color: #343531;
  width: 8px;
  height: 20px;
}
.rectangleDiv {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #343531;
  width: 2px;
  height: 38px;
}
.rectangleContainer {
  position: absolute;
  top: 76px;
  left: 220.5px;
  width: 8px;
  height: 46px;
}
.groupChild3 {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #343531;
  width: 2px;
  height: 46px;
}
.groupDiv {
  position: absolute;
  top: 60px;
  left: 240.5px;
  width: 8px;
  height: 46px;
}
.rectangleParent2 {
  position: absolute;
  top: 44px;
  left: 260.5px;
  width: 8px;
  height: 46px;
}
.groupChild6 {
  position: absolute;
  top: 15px;
  left: 0px;
  border-radius: 4px;
  background-color: #343531;
  width: 8px;
  height: 20px;
}
.rectangleParent3 {
  position: absolute;
  top: 44px;
  left: 280.5px;
  width: 8px;
  height: 32px;
}
.groupChild9 {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #343531;
  width: 2px;
  height: 32px;
}
.rectangleParent4 {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 8px;
  height: 55px;
}
.groupChild10 {
  position: absolute;
  top: 13px;
  left: 0px;
  border-radius: 4px;
  background-color: #1f201d;
  width: 8px;
  height: 16px;
}
.groupChild11 {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #1f201d;
  width: 2px;
  height: 55px;
}
.rectangleParent5 {
  position: absolute;
  top: 43px;
  left: 100.5px;
  width: 8px;
  height: 55px;
}
.groupChild12 {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #343531;
  width: 2px;
  height: 55px;
}
.groupChild13 {
  position: absolute;
  top: 30px;
  left: 0px;
  border-radius: 4px;
  background-color: #343531;
  width: 8px;
  height: 16px;
}
.rectangleParent6 {
  position: absolute;
  top: 66px;
  left: 80.5px;
  width: 8px;
  height: 40px;
}
.groupChild14 {
  position: absolute;
  top: 5px;
  left: 0px;
  border-radius: 4px;
  background-color: #343531;
  width: 8px;
  height: 16px;
}
.groupChild15 {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #343531;
  width: 2px;
  height: 40px;
}
.rectangleParent7 {
  position: absolute;
  top: 0px;
  left: 140.5px;
  width: 8px;
  height: 66px;
}
.groupChild16 {
  position: absolute;
  top: 22px;
  left: 0px;
  border-radius: 4px;
  background-color: #343531;
  width: 8px;
  height: 16px;
}
.groupChild17 {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #343531;
  width: 2px;
  height: 66px;
}
.rectangleParent8 {
  position: absolute;
  top: 58px;
  left: 120.5px;
  width: 8px;
  height: 40px;
}
.groupChild18 {
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 4px;
  background-color: #1f201d;
  width: 8px;
  height: 16px;
}
.groupChild19 {
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 1px;
  background-color: #1f201d;
  width: 2px;
  height: 40px;
}
.rectangleParent9 {
  position: absolute;
  top: 60px;
  left: 20.5px;
  width: 8px;
  height: 40px;
}
.groupChild20 {
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 4px;
  background-color: #343531;
  width: 8px;
  height: 16px;
}
.rectangleParent10 {
  position: absolute;
  top: 36px;
  left: 60.5px;
  width: 8px;
  height: 40px;
}
.rectangleParent11 {
  position: absolute;
  top: 42px;
  left: 200.5px;
  width: 8px;
  height: 40px;
}
.rectangleParent12 {
  position: absolute;
  top: 24px;
  left: 180.5px;
  width: 8px;
  height: 40px;
}
.frameIcon {
  position: absolute;
  top: calc(50% + 2px);
  left: 200px;
  box-shadow: 0px 0px 0px 2px #151514;
  border-radius: 999px;
  width: 64px;
  height: 64px;
}
.badge {
  position: absolute;
  top: 16px;
  left: 16px;
  box-shadow: 0px 0px 1px 1px rgba(32, 32, 29, 0.5), 0px 1px 2px #151514;
  border-radius: 99px;
  background-color: #343531;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
  text-align: left;
  font-size: 12px;
}
.iconCalendar {
  height: 14px;
  width: 14px;
  position: relative;
}
.todaysNews {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 135%;
  font-weight: 500;
  background: linear-gradient(225.34deg, #d6d61f 30%, #3be33b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lineDiv {
  position: absolute;
  bottom: -0.5px;
  left: -0.5px;
  border-top: 1px solid #1f201d;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
}
